body {
    background: #031321;
}
h1 {
    color: #2196f3;
    display: flex;
    justify-content: center;
    margin-top: 12px;
}
td {
    border: 2px solid #2196f3;;
    height: 100px;
    width: 100px;
    text-align: center;
    font-family:'Comic Sans MS', cursive, sans-serif;
    color:white;
    font-size:70px;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    position: absolute;
    left: 50%;
    margin-left:-155px;
    top: 20%;
}
table tr:first-child td{
    border-top: 0;
}
table tr:last-child td {
    border-bottom: 0;
}

table tr td:first-child {
    border-left: 0;
}
table tr td:last-child {
    border-right: 0;
}

.endgame {
    display: none;
    width: 200px;
    height: 100px;
    position: absolute;
    top: 45%;
    left: 50%;
    background-color: rgba(205,133,63,0.8);
    margin-left: -100px;
    color:white;
    font-size: 16px;
    border-radius:5px;
}
.endgame .text {
    font-size: 2em;
    display: flex;
    justify-content: center;
    padding-top: 30px;

}

button {
    position: absolute;
    left: 50%;
    margin-left: -50px;
    width: 100px;
    height: 48px;
    top: 420px;
}
a{
    position: absolute;
    left: 50%;
    margin-left: -84px;
    top: 420px;
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #2196f3;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
  }
  a:hover{
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 1s;
  }
  a span{
    position: absolute;
    display: block;
  }
  a span:nth-child(1)  {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#2196f3);
  }
  a:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
  }
  a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#2196f3);
  }
  a:hover span:nth-child(3) {
    left: 100%;
    transition: 1s;
    transition-delay: 0.5s;
  }
  a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#2196f3);
  }
  a:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
  }
  a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#2196f3);
  }
  a:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
  }